.landing-list { 
  margin-top: 18px;
  padding: 18px 32px;
  background: #ffffff;
  border: 1px solid #484848;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
}

button.show-more {
  margin-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  border: none;
  background: #ffffff;
}

button.show-more:hover {
  color: #4f75c2;
}


