.search-bar {
  height: 46px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  color: #888888;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  transition: 0.5ms;
}

.search-bar:hover {
  background: rgba(100, 100, 100, 0.08);
}

.search-bar::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url("https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg")
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0.3;
  cursor: pointer;
}

.error-border {
  border: 1px solid #ff0000;
}

.landing .search-bar {
  text-align: center;
}