.results-list {
  padding: 0 
}

a.show-more {
  margin-top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

a.show-more:hover {
  color: #4f75c2;
}

.results-list .list-item {
  margin-top: 20px;  
  padding-top: 2px; 
 }

 .results-list .list-item:hover .name-surname{
  color:white
 }

 .results-list .list-item:first-child{
  margin-top: 0px;  
  padding-top: 2px; 
 }
 
 .results-list .list-item:hover{
  background: #C4C4C4;
}
